* {
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
}

header {
  background-image: url(../../img/header-img.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top;
  height: 400px;
}

.menu ul {
  padding-top: 50px;
  padding-left: 60px;
}

.menu ul li {
  display: inline;
}

.menu a {
  text-decoration: none;
  font-family: candara;
  font-weight: 600;
  color: black;
  padding: 5px;
}

.menu a:hover {
  background-color: yellow;
}

.title {
  position: absolute;
  width: 100%;
  margin-top: 50px;
  margin-left: 60px;
}

.title h1 {
  font-family: candara;
  font-weight: 400;
  font-size: 36pt;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.title h3 {
  font-family: Times, serif;
  font-style: oblique;
  font-size: 18pt;
  font-weight: 100;
}

body {
  background-color: rgb(241, 241, 241);
  max-width: 1366px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.gallery img {
  width: 100%;
  margin: 0 auto;
}

.row-span-2 {
  grid-row: span 2;
}

.column-span-2 {
  grid-column: span 2;
}

.text {
  font-family: candara;
  padding: 30px;
  text-align: center;
}

.text .text-header {
  font-size: 22px;
}

.text .text-footer a {
  text-decoration: none;
  color: black;
  font-weight: 1000;
}

.text .text-footer a:hover {
  background-color: yellow;
}
